## Ignore AGS temporary files, build results

# Build results
_debug/
[Cc]ompiled/
[Gg]raphics/
[Ss]ounds/

# Windows
desktop.ini
AssetAsyst.GUI/Services/HeavyRoute/AnalysisService.cs.orig
AssetAsyst.GUI/Services/HeavyRoute/AnalysisService.cs.orig
